# build output
dist/
.output/

# dependencies
node_modules/

# environment variables (¡nunca subir claves!)
.env
.env.production
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS / editores
.DS_Store
.vscode/
.idea/

# astro
.astro/
